<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGFE(EHS) Signature</title>
    <!-- Link to Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      /* Add custom styles here */
      body {
        background-color: #f4f4f4;
        margin-top: 5rem;
      }
      .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }
      .form-label {
        font-weight: bold;
      }
      .form-group {
        margin-bottom: 1rem;
      }
      .btn-primary {
        background-color: #007bff;
        border: none;
      }
      .btn-primary:hover {
        background-color: #0056b3;
      }
      .img-fluid {
        width: 150px;
        margin: 0 auto 10px auto;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://ngfimg.s3.eu-west-2.amazonaws.com/NGF-logo.jpg"
        alt="NGF Logo"
        class="img-fluid"
      />
      <h3 class="text-center">NGF(EHS) Signature</h3>
      <form action="/form" method="post">
        <div class="form-group">
          <label for="name" class="form-label">Name:</label>
          <input
            id="name"
            name="name"
            type="text"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email:</label>
          <input
            id="email"
            name="email"
            type="email"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="company" class="form-label">Company Name:</label>
          <input id="company" name="company" type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>

    <!-- Link to Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
